.container, .container-fluid{
    background-color: gray;
}

h1{
    background-color: yellow;
    height: 100px;
}

h2{
    background-color: aqua;
    height: 300px;
}

h3{
    background-color: coral;
    height: 300px;
}

h4{
    background-color: cornflowerblue;
    height: 300px;
}