.menu {
    text-align: center;
    margin-top: 20px;
}


.menu a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
    color: white;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.3s ease;
}

.menu a:hover {
    background-color: royalblue; 
    transform: scale(1.1);      
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}
