.container, .container-fluid{
    background-color: gray;
}

h1{
    background-color: yellow;
    height: 937px;
}

h2{
    background-color: aqua;
    height: 300px;
}

h3{
    background-color: coral;
    height: 600px;
}

h4{
    background-color: cornflowerblue;
    height: 600px;
}

h5{
    background-color: darkorange;
    height: 20px;
}