
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');


h1{
   font-family: "Pinyon Script", cursive;
   font-weight: 400;
  font-style: normal;
    font-size: 55px;
    margin: 0%;
    display: flex;
    justify-content: center;
}

h2{
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  justify-content: center;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 15px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;    
    justify-content: center;
}

.contenedor {
    position: relative;  
    width: 400px;  
    height: 300px;
    overflow: hidden; 
    border-radius: 8px;  
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition: transform .3s ease;  
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  height: 0;
  transition: .6s ease;
  opacity: 0;
  height: 100%;
  transition: opacity .5s ease;
}

.contenedor:hover .overlay {
  height: 100%;
  opacity: 1;
}
.texto {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap; 
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contenedor img {
  transition: transform .6s ease;
}

.contenedor:hover img {
  transform: scale(1.1);
}

img {
    width: 400px;
    border-radius: 8px;
    display: block;   
}

